<li>
  <p style="<%= completed_todo_style(todo) %>">
    <%= format_date(todo.duedate) %>
    <br>
    <%= todo.title %>
    <br>
    Category: <%= link_to todo.category.name, category_path(todo.category) %>
  </p>
  <br/>
  <%= link_to 'Show', todo_path(todo) %>
  <%= link_to 'Edit', edit_todo_path(todo) %>
  <%= link_to 'Delete', todo_path(todo), method: :delete %>
</li>
