<% now = Time.now.year %>

<h3>Edit Todo</h3>

<div class="span8 well">
  <%= form_for @todo do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="control-group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="control-group">
      <%= label_tag :month %>
      <%= select_tag :month, options_for_select(1..12, @todo.duedate.month) %>

      <%= label_tag :day %>
      <%= select_tag :day, options_for_select(1..31, @todo.duedate.day) %>

      <%= label_tag :year %>
      <%= select_tag :year, options_for_select(now..(now + 30), @todo.duedate.year) %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
