<h2>All Todos</h2>

<%= link_to 'Create New Todo', new_todo_path %>

<ul>
  <% @incomplete.each do |todo| %>
    <li>
      <p>
        <%= format_date(todo.duedate) %>
        <br>
        <%= todo.title %>
      </p>
      <br/>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>
      <%= link_to 'Delete', todo_path(todo), method: :delete %>

    </li>
  <% end %>

  <% @complete.each do |todo| %>
    <li>
      <p style="text-decoration: line-through;">
        <%= format_date(todo.duedate) %>
        <br>
        <%= todo.title %>
      </p>
      <br/>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>
      <%= link_to 'Delete', todo_path(todo), method: :delete %>

    </li>
  <% end %>
</ul>
