<h2>All Todos</h2>

<ul>
  <% @incomplete.each do |todo| %>
    <li>
      <p>
        <%= format_date(todo.duedate) %>
        <br>
        <%= todo.title %>
      </p>
      <br/>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>

    </li>
  <% end %>

  <% @complete.each do |todo| %>
    <li>
      <p style="text-decoration: line-through;">
        <%= format_date(todo.duedate) %>
        <br>
        <%= todo.title %>
      </p>
      <br/>
      <%= link_to 'Show', todo_path(todo) %>
      <%= link_to 'Edit', edit_todo_path(todo) %>

    </li>
  <% end %>
</ul>
