<h2><%= @todo.title %></h2>

<p><%= @todo.description %></p>
<p>Due on: <%= format_date(@todo.duedate) %> </p>

<%= link_to 'Edit Todo', edit_todo_path(@todo) %>

<%= link_to 'Complete Todo', todo_path(@todo, completed: true), method: :patch %>
